<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>数字城市：2018中国（合肥）</title>
    <meta name="description" content="合肥数字城市大赛，城市大数据与人工智能创新应用大赛">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../media/css/animate.min.css">
    <link rel="stylesheet" href="../media/css/style.css">

    <!-- JS Files -->
    <script type="text/javascript" src="../media/js/jquery.min.js"></script>
    <script type="text/javascript">
        var images = new Array()
        function preload() {
            for (i = 0; i < preload.arguments.length; i++) {
                images[i] = new Image()
                images[i].src = preload.arguments[i]
            }
        }
        preload(
            "https://wyd112821.github.io/digital-city/media/images/wrap_bg1.jpg",
            "https://wyd112821.github.io/digital-city/media/images/wrap_bg2.jpg",
            "https://wyd112821.github.io/digital-city/media/images/wrap_bg3.jpg",
            "https://wyd112821.github.io/digital-city/media/images/wrap_scsz_bg1.jpg",
            "https://wyd112821.github.io/digital-city/media/images/wrap_scsz_bg2.jpg",
            "https://wyd112821.github.io/digital-city/media/images/wrap_dsst_bg.jpg",
            "https://wyd112821.github.io/digital-city/media/images/wrap_jjsz_bg.jpg",
            "https://wyd112821.github.io/digital-city/media/images/wrap_jczx_bg.jpg"
        )
    </script>

</head>
<body>
    <!-- Loading -->
    <div class="fakeloader"></div>

    <!-- Header Area -->
    <div class="header-box">
        <h1><img src="../media/images/web_theme.png" alt="城市大数据与人工智能创新应用大赛"></h1>
    </div>

    <!-- Nav Area -->
    <div class="nav-box">
        <div class="nav">
            <ul>
                <li class="n1"><a href="home.html"><i></i>大赛简介</a></li>
                <li class="n2"><a href="path-match.html"><i></i>赛程赛制</a></li>
                <li class="n3"><a href="problem-match.html"><i></i>大赛赛题</a></li>
                <li class="n4"><a href="bonus-set.html"><i></i>奖金设置</a></li>
                <li class="n5"><a href="new.html"><i></i>精彩资讯</a></li>
                <li class="n6"><a href=""><i></i>报名通道</a></li>
                <li class="n7"><a href="javascript:void(0)"><i></i>组织单位</a></li>
                <li class="n8"><a href="javascript:void(0)"><i></i>联系我们</a></li>
            </ul>
        </div>
    </div>

    <!-- Introduction Area -->
    <div class="about-match">
        <div class="content">
            <div id="videoplay" class="video-box float-l"></div>

            <div class="introduce-text fr">
                <p>大赛立足合肥，辐射全国，将模拟后的政务数据与社会数据进行深度融合，助力于将市民实际生活需求与政府应用开发相贯通，帮助解决人民日益增长的美好生活需要和不平衡不充分的发展之间的矛盾，吸引全国各地优秀人才与资源向合肥汇聚，集聚创新应用资源，激发整个合肥市数字经济创新氛围，将合肥数字经济发展质量提升至全国一线水平。</p>
            </div>
        </div>
    </div>

    <!-- Schedule Area -->
    <div class="stage-schedule">
        <div class="content">
            <div class="sche-to-intro">
                <p>大赛以创意赛为主，分为初赛、复赛、决赛三个阶段，</p>
                <p>其中：初赛、复赛在线上举行，决赛在线下举行。</p>
            </div>

            <div class="stage-text stage-name p1">平台开放</div>
            <div class="stage-text stage-time p2">2018年8月-9月</div>

            <div class="stage-text stage-name p3">提交及方案评审</div>
            <div class="stage-text stage-time p4">2018年9月-10月</div>

            <div class="stage-text stage-name p5">提交及方案评审</div>
            <div class="stage-text stage-time p6">2018年10月-11月</div>

            <div class="stage-text stage-name p7">答辩及颁奖典礼</div>
            <div class="stage-text stage-time p8">2018年11月-12月</div>
        </div>
    </div>

    <!-- Unit Area -->
    <div class="org-unit">
        <div class="content">
            <div style="height: 44px;"></div>
            <p>部省共同推进安徽语音产业发展领导小组</p>
            <p>
                <span>安徽省经信委</span>
                <span>共青团安徽省委员会</span>
                <span>合肥市人民政府</span>
            </p>

            <div style="height: 80px;"></div>
            <p>合肥市数据资源局</p>

            <div style="height: 82px;"></div>
            <p>
                <span>中国声谷</span>
                <span>合肥市大数据资产运营公司</span>
                <span>合肥市大数据产业联盟</span>
            </p>

            <div style="height: 82px;"></div>
            <p>
                <span>市委宣传部</span>
                <span>市经信委</span>
                <span>市科技局</span>
                <span>市财政局</span>
                <span>市卫计委</span>
                <span>市城管局</span>
                <span>市国资委</span>
                <span>市食品药品监督管理局</span>
            </p>
            <p>
                <span>市机关事务管理局</span>
                <span>共青团合肥市委员会</span>
                <span>市科协</span>
                <span>庐阳区</span>
                <span>蜀山区</span>
                <span>高新区</span>
            </p>

            <div class="contact-item">
                <div class="float-l">
                    <img src="../media/images/weixin_code.png" alt="微信平台"><br/>
                    官方微信
                </div>
                <div class="fr">
                    <img src="../media/images/weibo_code.png" alt="微博平台"><br/>
                    官方微博
                </div>
            </div>
        </div>
    </div>

    <!-- Company Area -->
    <div class="sup-company">
        <div class="content"></div>
    </div>


    <!-- JS Files -->
    <script type="text/javascript" src="../media/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="../media/ckplayer/ckplayer.js"></script>
    <script type="text/javascript" src="../media/js/fakeLoader.min.js"></script>
    <script type="text/javascript" src="../media/js/common.js"></script>
    <script type="text/javascript">
        //video
        var flashvars={
            f:'http://aic.huaibei.gov.cn/media/images/xc-video.mp4',
            c:1,
            p:1,
            x : "ckplayer.xml"
        };
        var video=['http://aic.huaibei.gov.cn/media/images/xc-video.mp4->video/mp4'];
        CKobject.embed('../media/ckplayer/ckplayer.swf','videoplay','ckplayer_a1','464','262',false,flashvars,video);


        $(function(){

            var a,b,d;
            a = $(window).height();
            var stageItem = $(".stage-schedule");
            $(window).scroll(function () {
                b = $(this).scrollTop();
                d = stageItem.offset().top + 800;

                if(a+b>d){
                    setTimeout(function(){
                        $('.p1').addClass('animated fadeInLeft');
                        $('.p2').addClass('animated fadeInRight');
                    }, 500);
                    setTimeout(function(){
                        $('.p3').addClass('animated fadeInRight');
                        $('.p4').addClass('animated fadeInLeft');
                    }, 1000);
                    setTimeout(function(){
                        $('.p5').addClass('animated fadeInLeft');
                        $('.p6').addClass('animated fadeInRight');
                    }, 1500);
                    setTimeout(function(){
                        $('.p7').addClass('animated fadeInRight');
                        $('.p8').addClass('animated fadeInLeft');
                    }, 2000);
                }

            });

        });
    </script>


</body>
</html>