<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <title>赛制赛程-数字城市：2018中国（合肥）</title>
    <meta name="description" content="合肥数字城市大赛，城市大数据与人工智能创新应用大赛">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../media/css/animate.min.css">
    <link rel="stylesheet" href="../media/css/style.css">
</head>
<body>
<!-- Header Area -->
<div class="header-box">
    <h1><img src="../media/images/web_theme.png" alt="城市大数据与人工智能创新应用大赛"></h1>
</div>

<!-- Nav Area -->
<div class="nav-box">
    <div class="nav">
        <ul>
            <li class="n1"><a href="home.html"><i></i>大赛简介</a></li>
            <li class="n2"><a href="path-match.html"><i></i>赛程赛制</a></li>
            <li class="n3"><a href="problem-match.html"><i></i>大赛赛题</a></li>
            <li class="n4"><a href="bonus-set.html"><i></i>奖金设置</a></li>
            <li class="n5"><a href="new.html"><i></i>精彩资讯</a></li>
            <li class="n6"><a href=""><i></i>报名通道</a></li>
            <li class="n7"><a href="javascript:void(0)"><i></i>组织单位</a></li>
            <li class="n8"><a href="javascript:void(0)"><i></i>联系我们</a></li>
        </ul>
    </div>
</div>

<div class="box-content"></div>

<!-- Schedule Area -->
<div class="stage-schedule stage-schedule-bg">
    <div class="content">
        <div class="sche-to-intro">
            <p>大赛以创意赛为主，分为初赛、复赛、决赛三个阶段，</p>
            <p>其中：初赛、复赛在线上举行，决赛在线下举行。</p>
        </div>

        <div class="stage-text stage-name p1">平台开放</div>
        <div class="stage-text stage-time p2">2018年8月-9月</div>

        <div class="stage-text stage-name p3">提交及方案评审</div>
        <div class="stage-text stage-time p4">2018年9月-10月</div>

        <div class="stage-text stage-name p5">提交及方案评审</div>
        <div class="stage-text stage-time p6">2018年10月-11月</div>

        <div class="stage-text stage-name p7">答辩及颁奖典礼</div>
        <div class="stage-text stage-time p8">2018年11月-12月</div>
    </div>
</div>

<!-- Match Flow -->
<div class="flow-match">
    <div class="content">
        <div class="sz-intro">
            大赛以创意赛为主，分为初赛、复赛、决赛三个阶段，<br/>其中：初赛、复赛在线上举行，决赛在线下举行。
        </div>

        <div class="cs-intro">参赛队伍根据相关数据，提交竞赛报告书和产品方案PPT，前150名晋级进入复赛环节。</div>

        <div class="fs-intro">复赛开放相关领域提供的新数据，选手继续完善方案，提交竞赛报告书和产品方案PPT。前24名晋级进入决赛环节。</div>

        <div class="js-intro">入围决赛的选手将参加线下答辩，由评委代表团现场评分并确定奖项。</div>
    </div>
</div>

<!-- Unit Area -->
<div class="org-unit org-unit-bg">
    <div class="content">
        <div style="height: 44px;"></div>
        <p>部省共同推进安徽语音产业发展领导小组</p>
        <p>
            <span>安徽省经信委</span>
            <span>共青团安徽省委员会</span>
            <span>合肥市人民政府</span>
        </p>

        <div style="height: 80px;"></div>
        <p>合肥市数据资源局</p>

        <div style="height: 82px;"></div>
        <p>
            <span>中国声谷</span>
            <span>合肥市大数据资产运营公司</span>
            <span>合肥市大数据产业联盟</span>
        </p>

        <div style="height: 82px;"></div>
        <p>
            <span>市委宣传部</span>
            <span>市经信委</span>
            <span>市科技局</span>
            <span>市财政局</span>
            <span>市卫计委</span>
            <span>市城管局</span>
            <span>市国资委</span>
            <span>市食品药品监督管理局</span>
        </p>
        <p>
            <span>市机关事务管理局</span>
            <span>共青团合肥市委员会</span>
            <span>市科协</span>
            <span>庐阳区</span>
            <span>蜀山区</span>
            <span>高新区</span>
        </p>

        <div class="contact-item">
            <div class="fl">
                <img src="../media/images/weixin_code.png" alt="微信平台"><br/>
                官方微信
            </div>
            <div class="fr">
                <img src="../media/images/weibo_code.png" alt="微博平台"><br/>
                官方微博
            </div>
        </div>
    </div>
</div>

<!-- Company Area -->
<div class="sup-company sup-company-bg">
    <div class="content"></div>
</div>


<!-- JS Files -->
<script type="text/javascript" src="../media/js/jquery.min.js"></script>
<script type="text/javascript" src="../media/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="../media/js/common.js"></script>
<script type="text/javascript">

    $(function(){

        var a,b,c,d;
        a = $(window).height();
        var stageItem = $(".stage-schedule");
        var flowItem = $(".flow-match");
        $(window).scroll(function () {
            b = $(this).scrollTop();
            d = stageItem.offset().top + 800;
            c = flowItem.offset().top + 700;

            if(a+b>d){
                setTimeout(function(){
                    $('.p1').addClass('animated fadeInLeft');
                    $('.p2').addClass('animated fadeInRight');
                }, 500);
                setTimeout(function(){
                    $('.p3').addClass('animated fadeInRight');
                    $('.p4').addClass('animated fadeInLeft');
                }, 1000);
                setTimeout(function(){
                    $('.p5').addClass('animated fadeInLeft');
                    $('.p6').addClass('animated fadeInRight');
                }, 1500);
                setTimeout(function(){
                    $('.p7').addClass('animated fadeInRight');
                    $('.p8').addClass('animated fadeInLeft');
                }, 2000);
            }

            if(a+b>c){
                setTimeout(function(){
                    $('.cs-intro').addClass('animated fadeInUp');
                }, 500);
                setTimeout(function(){
                    $('.fs-intro').addClass('animated fadeInUp');
                }, 1000);
                setTimeout(function(){
                    $('.js-intro').addClass('animated fadeInUp');
                }, 1500);
            }

        });

    });
</script>


</body>
</html>