/*----------- 重置样式 ----------------*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{font-weight:normal;}
html,body,fieldset,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style: normal;}
[hidefocus],summary{outline:0;}
ul , ol , ul li , li , ol li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font-family:"微软雅黑"; font-size:14px;color:#454545;outline:0;}
a{color:#454545; border: none; text-decoration: none;outline:none; /*移除虚线框  IE8,FF有用*/ hide-focus: expression(this.hideFocus=true); /*IE6、IE7*/}
a:focus{outline: 0;-moz-outline-style: none;}
a:hover{text-decoration: none; color: #005da8;}
img {
    border: 0 none; /* 去除 IE6-9 和 Firefox 3 中 a 内部 img 元素默认的边框 */
    width: auto\9; /* 修正 IE8 图片消失bug */
    height: auto; /* 防止 img 指定「height」时图片高度不能按照宽度等比缩放，导致图片变形 */
    vertical-align: top;/* 去除现代浏览器图片底部的空隙 */
    -ms-interpolation-mode: bicubic; /* 修复 IE7 图片缩放失真 */
}
button,input,select,textarea{font-size:100%;font-family:tahoma;margin: 0;outline: 0 none;vertical-align: baseline;_overflow:visible;*vertical-align: middle;*overflow:visible;}

body{ background:#f3f5ff; overflow-x:hidden; min-width: 1200px;}
/* ================ 全局function ============ */
.float-l{ float: left;}
.fr{ float: right;}
.clear{ clear: both;}


.fakeloader{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
}
.fakeloader div{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px;
} 


.header-box{
    position: relative;
    width: 100%;
    height: 748px;
    background: url("../images/wrap_bg1.jpg") no-repeat center top;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/wrap_bg1.jpg") no-repeat center top;
}

.header-box h1{
    width: 919px;
    height: 188px;
    padding-top: 166px;
    margin: 0 auto;
    opacity: 0;
}
.header-box h1.animated{
    opacity: 1;
}

.nav-box{
    width: 100%;
    height: 43px;
    background: url("../images/wrap_bg2.jpg") no-repeat center top;
}

.nav{
    width: 1091px;
    height: 41px;
    border: 1px solid #2fc1f5;
    margin: 0 auto;
    overflow: hidden;
}
.nav ul{
    width: 1200px;
    overflow: hidden;
    padding-left: 26px;
}
.nav ul li{
    float: left;
}
.nav ul li a{
    position: relative;
    display: block;
    float: left;
    height: 41px;
    line-height: 41px;
    padding: 0 34px 0 28px;
    font-size: 18px;
    color: #2089de;
    -webkit-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -ms-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    transition:all .3s ease-out;
}
.nav ul li a:hover{
    color: #2fc0f4;
    -webkit-transition:all .4s ease-out;
    -moz-transition:all .4s ease-out;
    -ms-transition:all .4s ease-out;
    -o-transition:all .4s ease-out;
    transition:all .4s ease-out;
}
.nav li a i{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 25px;
    height: 41px;
    background: url("../images/nav_icons.png") no-repeat;
    -webkit-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -ms-transition:all .3s ease-out;
    -o-transition:all .3s ease-out;
    transition:all .3s ease-out;
}
.nav li a:hover i{
    background: url("../images/nav_icons_hover.png") no-repeat;
    -webkit-transition:all .4s ease-out;
    -moz-transition:all .4s ease-out;
    -ms-transition:all .4s ease-out;
    -o-transition:all .4s ease-out;
    transition:all .4s ease-out;
}
.nav li.n1 a i{
    background-position: 0 0;
}
.nav li.n2 a i{
    background-position: 0 -41px;
}
.nav li.n3 a i{
    background-position: 0 -82px;
}
.nav li.n4 a i{
    background-position: 0 -123px;
}
.nav li.n5 a i{
    background-position: 0 -164px;
}
.nav li.n6 a i{
    background-position: 0 -205px;
}
.nav li.n7 a i{
    background-position: 0 -246px;
}
.nav li.n8 a i{
    background-position: 0 -287px;
}





.about-match{
    width: 100%;
    height: 628px;
    background: url("../images/wrap_bg3.jpg") no-repeat center top;
}
.about-match .content{
    width: 950px;
    height: 380px;
    overflow: hidden;
    margin: 0 auto;
    padding: 248px 139px 0 113px;
}

.video-box{
    width: 464px;
    height: 262px;
}

.introduce-text{
    width: 450px;
    height: 282px;
    overflow: hidden;
    margin-top: -20px;
}
.introduce-text p{
    line-height: 44px;
    font-size: 15px;
    color: #fff;
    text-indent: 2em;
    text-align: justify;
}

.stage-schedule{
    width: 100%;
    height: 994px;
    background: url("../images/wrap_bg4.jpg") no-repeat center top;
}

.stage-schedule .content{
    position: relative;
    width: 1200px;
    height: 994px;
    margin: 0 auto;

}
.sche-to-intro{
    position: absolute;
    top: 200px;
    left: 346px;
    width: 527px;
    height: 72px;
    padding-top: 4px;
}
.sche-to-intro p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #40b6ff;
    line-height: 30px;
}

.stage-text{
    position: absolute;
    width: 180px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    opacity: 0;
}
.stage-name{
    font-size: 18px;
    color: #fff;
}
.stage-time{
    font-size: 20px;
    color: #67c5ff;
}

.p1{
    left: 80px;
    top: 402px;
}
.p2{
    left: 386px;
    top: 380px;
}
.p3{
    left: 984px;
    top: 514px;
}
.p4{
    left: 648px;
    top: 490px;
}
.p5{
    left: 54px;
    top: 662px;
}
.p6{
    left: 385px;
    top: 638px;
}
.p7{
    left: 984px;
    top: 792px;
}
.p8{
    left: 648px;
    top: 764px;
}

.org-unit{
    width: 100%;
    height: 1139px;
    background: url("../images/wrap_bg5.jpg") no-repeat center top;
}
.org-unit .content{
    width: 1200px;
    margin: 0 auto;
    padding-top: 206px;
}
.org-unit .content p{
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #acd7ff;
    font-size: 18px;
}
.org-unit .content p span{
    padding: 0 11px;
}

.contact-item{
    width: 360px;
    margin: 160px auto 0;
    padding: 20px;
}
.contact-item div{
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    color: #fff;
}

.sup-company{
    width: 100%;
    height: 600px;
    background: url("../images/wrap_bg6.jpg") no-repeat center top;
}

.dsst-org-unit{
    background: url("../images/wrap_dsst_bg4.jpg") no-repeat center top;
}

.dsst-sup-company{
    background: url("../images/wrap_dsst_bg5.jpg") no-repeat center top;
}

.problem-match{
    width: 100%;
    height: 825px;
    background: url("../images/wrap_dsst_bg.jpg") no-repeat center top;
}
.problem-match .content{
    width: 1200px;
    height: 825px;
    margin: 0 auto;
}
.problem-match .content ul{
    padding-top: 412px;
}
.problem-match .content ul li{
    width: 233px;
    height: 322px;
    float: left;
    margin: 0 34px 0 27px;
}
.problem-match .content li p{
    padding: 73px 78px 126px;
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 2px;
}
.problem-match .content li a{
    display: block;
    width: 134px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #00cafd;
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}

.button--nanuk {
    overflow: hidden;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
}

.button--nanuk.button--inverted {
    background: #fff;
    color: #7986cb;
}

.button--nanuk>span {
    display: inline-block;
    padding: 0;
}

.button--nanuk:hover {
    background-color: #2b33bb;
}

.button--nanuk:hover>span:nth-child(odd) {
    -webkit-animation: anim-nanuk-1 .5s forwards;
    animation: anim-nanuk-1 .5s forwards;
}

.button--nanuk:hover>span:nth-child(even) {
    -webkit-animation: anim-nanuk-2 .5s forwards;
    animation: anim-nanuk-2 .5s forwards;
}

.button--nanuk:hover>span:nth-child(odd),.button--nanuk:hover>span:nth-child(even) {
    -webkit-animation-timing-function: cubic-bezier(.75,0,.125,1);
    transition-animation-function: cubic-bezier(.75,0,.125,1);
}

@-webkit-keyframes anim-nanuk-1 {
    0%,100% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    49% {
        opacity: 1;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

    50% {
        color: inherit;
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

    51% {
        color: #fff;
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }

    100% {
        color: #fff;
    }
}

@keyframes anim-nanuk-1 {
    0%,100% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    49% {
        opacity: 1;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

    50% {
        color: inherit;
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

    51% {
        color: #fff;
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }

    100% {
        color: #fff;
    }
}
@-webkit-keyframes anim-nanuk-2 {
    0%,100% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    49% {
        opacity: 1;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }

    50% {
        color: inherit;
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }

    51% {
        color: #fff;
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

    100% {
        color: #fff;
    }
}

@keyframes anim-nanuk-2 {
    0%,100% {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    49% {
        opacity: 1;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }

    50% {
        color: inherit;
        opacity: 0;
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
    }

    51% {
        color: #fff;
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
    }

    100% {
        color: #fff;
    }
}

.jjsz-org-unit{
    background: url("../images/wrap_jjsz_bg4.jpg") no-repeat center top;
}

.jjsz-sup-company{
    background: url("../images/wrap_jjsz_bg5.jpg") no-repeat center top;
}

.bonus-set{
    width: 100%;
    height: 1137px;
    background: url("../images/wrap_jjsz_bg.jpg") no-repeat center top;
}
.bonus-set .content{
    position: relative;
    width: 1200px;
    height: 740px;
    margin: 0 auto;
    padding-top: 260px;
}

.bonus-text{
    height: 60px;
    text-align: center;
    font-size: 22px;
    color: #3eb4ff;
    letter-spacing: 2px;
}
.bonus-text strong{
    font-size: 37px;
}

.bonus-one{
    position: absolute;
    top: 372px;
    left: 422px;
    width: 338px;
    height: 338px;
}
.bonus-one p{
    line-height: 40px;
    font-size: 26px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}
.bonus-one p.money{
    font-size: 40px;
    padding-top:194px
}
.bonus-one p.money strong{
    font-size: 64px;
}

.awards-item{
    position: absolute;
    left: 0;
    top: 772px;
    width: 1200px;
    height: 196px;
}
.awards-item ul{
    padding-left: 52px;
}
.awards-item ul li{
    width: 196px;
    height: 196px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin: 0 38px;
    overflow: hidden;
}
.awards-item ul li p{
    color: #fff;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    opacity: 0;
}
.awards-item ul li p.award{
    line-height: 30px;
    font-size: 18px;
    padding-top: 100px;
}
.awards-item ul li p.money{
    font-size: 33px;
    line-height: 50px;
}
.awards-item ul li p.money strong{
    font-size: 56px;
}

.jczx-org-unit{
    background: url("../images/wrap_jczx_bg4.jpg") no-repeat center top;
}

.jczx-sup-company{
    background: url("../images/wrap_jczx_bg5.jpg") no-repeat center top;
}

.wonder-news{
    width: 100%;
    height: 1137px;
    background: url("../images/wrap_jczx_bg.jpg") no-repeat center top;
}
.wonder-news .content{
    width: 1200px;
    height: 880px;
    margin: 0 auto;
    padding-top: 257px;

}

.wonder-news .content ul{
    padding-left: 100px;
}

.wonder-news .content ul li{
    width: 409px;
    height: 359px;
    padding: 25px 23px 0 28px;
    float: left;
    margin: 0 60px 62px 0;
}

.new-pic{
    width: 409px;
    height: 241px;
    overflow: hidden;
    margin-bottom: 52px;
    overflow: hidden;
}
.new-pic img{
    width: 409px;
    height: 241px;
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.35s;
    -o-transition: -o-transform 0.35s;
    -moz-transition: -moz-transform 0.35s;
    -ms-transition: -ms-transform 0.35s;
    transition: transform 0.35s;
}

.wonder-news .content ul li a:hover img{
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.new-text{
    line-height: 25px;
    color: #fff;
    font-size: 18px;
    padding: 4px 0px;
    text-align: justify;
}

.box-content{
    width: 100%;
    height: 43px;
    background: url("../images/wrap_scsz_bg1.jpg") no-repeat center top;
}

.stage-schedule-bg{
    background: url("../images/wrap_scsz_bg2.jpg") no-repeat center top;
}
.org-unit-bg{
    background: url("../images/wrap_scsz_bg4.jpg") no-repeat center top;
}
.sup-company-bg{
    background: url("../images/wrap_scsz_bg5.jpg") no-repeat center top;
}

.flow-match{
    width: 100%;
    height: 909px;
    background: url("../images/wrap_scsz_bg.jpg") no-repeat center top;
}
.flow-match .content{
    width: 1200px;
    height: 909px;
    position: relative;
    margin: 0 auto;
}

.sz-intro{
    position: absolute;
    left: 274px;
    top: 226px;
    width: 646px;
    text-align: center;
    line-height: 34px;
    font-size: 22px;
    color: #fff;
    letter-spacing: 1px;
}

.cs-intro{
    position: absolute;
    left: 110px;
    top: 660px;
    width: 264px;
    text-align: justify;
    line-height: 34px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    opacity: 0;
}

.fs-intro{
    position: absolute;
    left: 472px;
    top: 660px;
    width: 264px;
    text-align: justify;
    line-height: 34px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    opacity: 0;
}

.js-intro{
    position: absolute;
    left: 830px;
    top: 660px;
    width: 264px;
    text-align: justify;
    line-height: 34px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    opacity: 0;
}
